<div class="home-container" style="background-image: url('assets/jobs.png');">


    
      
     
 <div class="row">
        <div class="col-md-4">
          <h2>Communications And External Affairs Intern</h2>
          <p>Last Date to Apply: Sep 27, 2023<br>

            Company Name: BP<br>
            
            Disciplne: Communication </p>
          <p><a class="btn btn-secondary" href="#" role="button">Job details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Health, Safety & Environment Intern</h2>
          <p>Last Date to Apply: Sep 27, 2023<br>

            Company Name: BP<br>
            
            Disciplne: IT </p>
          <p><a class="btn btn-secondary" href="#" role="button">Job details &raquo;</a></p>
        </div>
        
      </div>
  
      <hr>
</div>











   